<camera id="camera" data-app-id="a-67f81b20-98b0-0131-2efb-22000a499ea4" data-poll-for-processed="true"></camera>

<div id="camera-start-screen">
    <a class="cameratag_select_prompt">
        choose how to submit your video
    </a>
    <a class="cameratag_primary_link cameratag_record_link cameratag_record">
        <span class="cameratag_action_icon"></span><br>
        <span class="cameratag_prompt_label">webcam</span>
    </a>
    <a id="camera_upload_link" class="cameratag_primary_link cameratag_upload_link cameratag_upload">
        <span class="cameratag_action_icon"></span><br>
        <span class="cameratag_prompt_label">file</span>
    </a>
    <a class="cameratag_primary_link cameratag_sms_link">
        <span class="cameratag_action_icon"></span><br>
        <span class="cameratag_prompt_label">phone</span>
    </a>
    <img class="cameratag_settings_btn" src="//cameratag.com/assets/gear.png">
</div>