<section id="share">
    <input type="text" id="share-link" value="{{absolute_url}}/{{slug}}" readonly />

    <section class="social">
        <p>Also share it on...</p>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{absolute_url}}/{{slug}}" target="_blank">
            <img src="/public/img/facebook-icon.png" alt="Share on Facebook" />
        </a>
        <a class="twitter" href="https://twitter.com/share?url={{absolute_url}}/{{slug}}&text=Watch%20this%20video%20I%20made!" target="_blank">
            <img src="/public/img/twitter-icon.png" alt="Share on Twitter" />
        </a>
        <a class="google" href="https://plus.google.com/share?url={{absolute_url}}/{{slug}}" target="_blank">
            <img src="https://www.gstatic.com/images/icons/gplus-64.png" alt="Share on Google+"/>
        </a>
    </section>
</section>